modules = ["python-3.12", "bash"]
run = "Test"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "static"
publicDir = "3012"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 38548515

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python web_app.py"

[[ports]]
localPort = 3000
externalPort = 80
